html, body {
	width: 100%;
	height: 100%;
}

.navbar {
	padding: 0.5%;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px;
	border-color: transparent;
}

.navbar-brand {
	font-size: 1.4em;
}

.navbar-right {
	margin-top: 0.5%;
	margin-right: 2%;
}

.sub-header {
	width: 100%;
	height: 550px;
	margin-top: 64px;
	background-image: url('../img/panoramica_upc2.jpg'); 
	background-size: cover;
	background-repeat: none;
}

.sub-layer {
	width: 70%;
	height: 400px;
	margin-top: 75px; /*64+150/2*/
	margin-left: 15%; 
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	padding-top: 3%;
}

.sub-layer #sub-title {
	margin-left: 9%;
	margin-right: 9%;
}

.sub-layer #sub-title-answer {
	margin-left: 7%;
	margin-right: 7%;
}

.info-reservas {
	width: 100%;
	height: 250px;
	position: relative;
}

.info-reservas #title {
	margin-top: 5%;
	margin-left: 7%;
}

.info-reservas #title-answer {
	margin-left: 4%;
}

.footer {
	width: 100%;
	height: 13%;
	background-color: #dddddc;
	border-top: groove;
}

.footer #patrocinadors {
	width: 20%;
	height: 2%;
	z-index: 10;
	margin-top: 1%;
	margin-left: 20%;
}

.footer #img-ajunt {
	width: 14.8%;
	height: 0%;
	z-index: 100;
	background-image: url('../img/patrocina_espai.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 60%;
}

.below-navbar {
	width: 75%;
	height: 75%;
	margin-top: 64px;
	position: relative;
	z-index: 10;
}

#myModalBox {
	background-color: white;
	opacity: 0.9;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 7%;
	margin-bottom: 7%;
	margin-left: 25%;
	margin-right: 25%;
}