html, body {
	width: 100%;
	height: 100%;
}

.navbar {
	padding: 0.5%;
	height: 64px;
}

.navbar-brand {
	font-size: 1.4em;
}

.navbar-right {
	width: 20%;
	margin-top: 0.8%;
	margin-right: 0;
	margin-left: auto;
}

/*
 Fix for getting the 3 buttons on one line
*/
div.navbar-right  {
	width: 500px;
}

#loginButton {
	float: right;
	margin-right: 5%;
}

#signOutButton {
	float: right;

}

#signUpButton {
	float: right;

}

#nouEspaiButton {
	float: right;

}

.sub-header {
	width: 100%;
	height: 550px;
	margin-top: 64px;
	background-image: url('../img/panoramica_upc2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.sub-layer {
	min-width: 70%;
	max-width: 80%;
	min-height: 400px;
	max-height: 500px;
	margin-top: 6%;
	margin-bottom: 6%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	padding-top: 3%;
	overflow: auto;
}

.sub-layer #sub-title {
	margin-left: 9%;
	margin-right: 9%;
}

.sub-layer #sub-title-answer {
	margin-left: 7%;
	margin-right: 7%;
}

.info-reservas {
	width: 100%;
	height: 250px;
	position: relative;
}

.info-reservas #title {
	margin-top: 5%;
	margin-left: 7%;
}

.info-reservas #title-answer {
	margin-left: 4%;
}

.footer {
	width: 100%;
	height: 40%;
	background-color: #dddddc;
	border-top: solid;
	border-top-color: #ccc;
}

.footer #direccion {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 10%;
	margin-left: 10%;
	color: #999;
}

.footer #patrocinadors {
	width: 20%;
	height: 2%;
	z-index: 10;
	margin-top: 1%;
	margin-left: 20%;
}

.footer #img-ajunt {
	width: 14.8%;
	height: 0%;
	z-index: 100;
	background-image: url('../img/patrocina_espai.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 60%;
}

.below-navbar {
	width: 75%;
	height: 75%;
	margin-top: 64px;
	position: relative;
	z-index: 10;
}

#myModalBox {
	background-color: white;
	opacity: 0.9;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 5%;
	padding-right: 5%;
}

#newEspaiModalBox {
	background-color: white;
	opacity: 0.9;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 5%;
	padding-right: 5%;
}

#myModalBox input{
	margin-bottom:5%;
}

#newEspaiModalBox input{
	margin-bottom:5%;
}
