.areaBox {
	width: 80%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 3%;
	margin-bottom: 3%;
	background-color: #EEE;
	padding-top: 2%;
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 2%;
}

.rowTable {
	border-color: #EEE;
	border-width: 0px;
	border-style: solid; 
	padding: 1%;
}

.rowTable#top {
	border-bottom-width: 1px;
	background-color: #A7E2D6;
}

.rowTable#bottom {
	margin-bottom: 1%;
	background-color: #B3E6DA;
}

.side-bar#side-div {
	height: 100%;
}

.side-bar .navbar-stacked {
	width: 15%;
	height: 100%;
	font-size: 1.2em;
	position: absolute;
	border-right-width: 1px;
	border-right-color: #CCC;
	border-right-style: solid;
	background-color: #FFF;
}

.center-area {
	width: 84%;
	height: 100%;
	margin-top: 64px;
	margin-left: 15%;
	padding: 1%;
	float: center;
}

.inserted-content {
	padding: 0%;
}