<div class="page">
  
	<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html"> UPC Emprèn</a>
    </div>

    <div class="navbar-right">
        <button data-toggle="modal" class="btn btn-default" id="loginButton" href="#myModal">Login</button>
    </div>
  </nav>

  <div id="myModal" class="modal fade" style="display: none; ">
    <div id="myModalBox">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Escrigui les seves dades:</h3>
      </div>
      <input type="text" class="form-control" placeholder="Usuari" required="" autofocus="" ng-model="username">
      <input type="password" class="form-control" placeholder="Contrasenya" required="" ng-model="password">
      <!--<div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>-->
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Tanca</a>
        <a class="btn btn-primary" data-dismiss="modal" ng-click="login(username, password)">Login</a>
      </div>
    </div>
  </div>


  </nav>

  <div class="sub-header">
    <div class="sub-layer">
      <h3 id="sub-title">Què és l'espai d'emprenedoria?</h3>
      <p id="sub-title-answer">Espai adreçat a estudiants o recent titulats (< 2 anys) que tinguin un idea de negoci i necessitin un espai per poder‐la transformar en realitat, poden desenvolupar-les en fases inicials rebent formació i assessorament.<br>
      <br>
      Emprèn UPC, al qual s’hi podrà accedir amb el carnet UPC durant els 365 dies de l’any, ocupa una superfície de més de 500 m2 i disposa de llocs de treball per a grups d’entre dues i sis persones. Inclou una sala de reunions amb capacitat per a nou persones, així com zones condicionades per a networking i una àrea de recursos compartits. L’espai, que també integra un magatzem i zona de serveis (cuina i menjador), està equipada amb 30 taquilles i xarxa Wi-Fi.<br>
      <br>
      Es preveu que el període d’ocupació dels llocs de treball per part dels equips emprenedors sigui d’un màxim d’un any.<br>
      <br>
      L’Espai d’Emprenedoria Emprèn UPC és un projecte realitzat conjuntament amb l’Ajuntament de Barcelona (Barcelona Activa).<br>
    </div>
  </div>

  <div class="info-reservas">
    <h3 id="title">Reserva sales de l'àrea d'emprenedoria</h3>
    <br>
    <ul id="title-answer">
      <li>Consulta les aules disponibles per reservar</li>
      <br>
      <li>Consulta els horaris de reserva de les diferents aules</li>
      <br>
      <li>Fes les teves pròpies reserves de les aules</li>
      <br>
      <li>Modifica o cancel·la les teves reserves</li>
    </ul>
  </div>

  <div class="footer">
    <!--<h4 id="patrocinadors">Patrocinadors Espai:</h4>-->
    <div id="direccion">
      <h4>Dirección:</h4>
      Sala d'emprenedoria<br>
      C/Jordi Girona Salgado,1-3<br>
      08034 BARCELONA<br>
      Espanya
    </div>
    <div id="img-ajunt"></div>
  </div>

</div>